@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
}

body {
    /*background: #232526;
    /* fallback for old browsers 
    background: -webkit-linear-gradient(to bottom, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to bottom, #414345, #232526);*/
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: -webkit-linear-gradient(to top, #09203f 0%, #5CA1D5 100%);
    background-image: linear-gradient(to top, #09203f 0%, #5CA1D5 100%);*/
    background-color: #5CA1D5;
    background-blend-mode: multiply, multiply;
    background-attachment: fixed;
    color: white;
}

header {
    font-family: 'Secular One', sans-serif;
    background-color: #5CA1D5;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: baseline;
    width: 100%;
    padding: 5px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 25px 20px -20px;
}


header a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

header div a {
    font-size: 1.1em;
}


#layout {
    font-family: 'Fredoka One', cursive;
    display: grid;
    grid-template-columns: repeat(auto- fit, (minmax 200px, 1fr));
    justify-items: center;
    margin: 100px;
    gap: 20px;
}

.image {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid inherit;
    border-radius: 10px;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);*/
    border-radius: 50px;
    background: linear-gradient(145deg, #62ace4, #5391c0);
    box-shadow: 20px 20px 60px #4e89b5,
        -20px -20px 60px #6ab9f5;
    transition: all 1s ease-in-out;
}

.image:hover {
    border-radius: 50px;
    background: linear-gradient(145deg, #5391c0, #62ace4);
    box-shadow: 20px 20px 60px #4e89b5,
        -20px -20px 60px #6ab9f5;
    cursor: pointer;
}

.image img {
    margin-bottom: 10px;
}

.image a {
    color: white;
    font-size: 1.3em;
    text-decoration: none;
}

@media only screen and (min-width: 1200px) {
    #layout {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    #layout {
        grid-template-columns: repeat(2, 1fr);
    }
}